<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<title>查询成绩</title>
<meta name="viewport"
	content="width=1000, initial-scale=1.0, maximum-scale=1.0">

<!-- Loading Bootstrap -->
<link href="css/vendor/bootstrap.min.css" rel="stylesheet">

<!-- Loading Flat UI Pro -->
<link href="css/flat-ui.min.css" rel="stylesheet">
<link href="css/demo.css" rel="stylesheet">

<style>
body {
	background-color: #2FC2A5;
	/* background-color: #1ABC9C; */
}
</style>
</head>
<body>
	<div class="container">
		<div class="login">
			<div class="login-screen">
				<div class="login-icon">
					<h4>
						Welcome to <small>Mail App</small>
					</h4>
				</div>

				<div class="login-form">
					<form action="/postLogin" method="post">
						<div class="form-group ">
							<input type="text" class="form-control" value="" placeholder="学号"
								id="xh" name="xh" required> <span
								class="form-control-feedback fui-user"></span>
						</div>

						<div class="form-group ">
							<input type="password" class="form-control" value=""
								placeholder="密码" id="mm" name="mm" required> <span
								class="form-control-feedback fui-lock"></span>
						</div>

						<button class="btn btn-primary btn-large btn-block" type="submit">登录</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous"></script>

	<!-- Bootstrap 4 requires Popper.js -->
	<!--    <script src="https://unpkg.com/popper.js@1.14.1/dist/umd/popper.min.js"
        crossorigin="anonymous"></script> -->

	<!--    <script src="http://vjs.zencdn.net/6.6.3/video.js"></script> -->

	<script src="/js/flat-ui.min.js"></script>
	<script src="/js/application.js"></script>


	<script>
		function doLogin() {
			$.post("/postLogin", {
				"xh" : $('#xh').val(),
				"mm" : $('#mm').val()
			})
		}
	</script>
</body>
</html>