<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<title>查询成绩</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Loading Bootstrap -->
<link href="css/vendor/bootstrap.min.css" rel="stylesheet">

<!-- Loading Flat UI Pro -->
<link href="css/flat-ui.min.css" rel="stylesheet">

<style>
body {
	background-color: #2FC2A5;
	/* background-color: #1ABC9C; */
}

.container {
	margin-top: 32px;
}
</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-7">
				<div class="tile" id="score">
					<h3 class="tile-title">2017-2018 #2</h3>
				</div>
			</div>

			<div class="col-md-1">
				<div id="vertical-slider" style="height: 500px;"></div>
			</div>
		</div>
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous"></script>

	<!-- Bootstrap 4 requires Popper.js -->
	<!-- 	<script src="https://unpkg.com/popper.js@1.14.1/dist/umd/popper.min.js"
		crossorigin="anonymous"></script> -->

	<!-- 	<script src="http://vjs.zencdn.net/6.6.3/video.js"></script> -->

	<script src="/js/flat-ui.min.js"></script>
	<script src="/js/application.js"></script>

	<script>
		$(document).ready(function() {
			$.get("/getScore", function(data) {
				console.log(data);
				$('#score').empty();

                var html = "<h3 class='tile-title'>2017-2018 #2</h3><br>";
                for (var i = 0; i < data.length; i++) {
                    html += ("<span>" + data[i].name + " "
                            + data[i].score + "</span><br>");
                }
                html += "<br>"
                $('#score').append(html);
			})
		});
	</script>
</body>
</html>